:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-brand: hsl(176, 100%, 25%);
  --color-brand-light: hsla(176, 100%, 25%, 0.1);
  --color-brand-dark: hsl(176, 100%, 18%);
}

a {
  font-weight: 500;
  color: var(--color-brand);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-brand-dark);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 1rem auto;
  font-size: 1.8rem;
  line-height: 1.1;
}

h2 {
  margin: 0.5rem auto;
  font-size: 1.2rem;
  line-height: 1.1;
}

strong {
  color: var(--color-brand);
}

button {
  border-radius: 5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--color-brand);
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--color-brand-dark);
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  &,
  &:hover {
    background-color: #999;
  }
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0.5rem;
}
